In [ ]:
#Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out

In [63]:
#1. Read this dataset in pandas , mysql and mongodb

In [64]:
import pandas as pd

In [65]:
data=pd.read_csv("C:/Users/avina/pandas/FitBit data.csv")

In [66]:
data

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [67]:
#2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql

In [68]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\avina\anaconda3\lib\site-packages (2.1.1)

In [69]:
# Read Data in MySql.
from sqlalchemy import create_engine as ce

In [70]:
 # Connect to MySQL
engine = ce("mysql://root:KarTnKl1718&@localhost:3306/task2")

In [71]:
# Load the imported CSV into your database
data.to_sql('fitbit_table',engine)

ValueError: Table 'fitbit_table' already exists.

In [72]:
#3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [73]:
data.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [74]:

data['ActivityDate']=pd.to_datetime(data['ActivityDate'])
data.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

In [75]:
data.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [76]:
#4 . Find out in this data that how many unique id's we have

In [77]:
len(data['Id'].unique())

35

In [78]:
#5 . which id is one of the active id that you have in whole dataset

In [98]:
data.groupby('Id')['VeryActiveMinutes'].sum().idxmax()

8053475328

In [ ]:
#6 . how many of them have not logged there activity find out in terms of number of ids

In [109]:
not_logged=data[data['LoggedActivitiesDistance']==0]['Id'].unique()
len(not_logged)

35

In [110]:
data.shape

(457, 15)

In [111]:
#7 . Find out who is the laziest person id that we have in dataset

In [112]:
data.groupby('Id')['VeryActiveMinutes'].sum().idxmin()

1927972279

In [113]:
#8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [139]:
data.groupby('Id')['Calories'].mean().apply(lambda x:x>2200).value_counts()

False    22
True     13
Name: Calories, dtype: int64

In [ ]:
#9. how many person are not a regular person with respect to activity try to find out those

In [141]:
data[data['TotalSteps']==0].count()

Id                          61
ActivityDate                61
TotalSteps                  61
TotalDistance               61
TrackerDistance             61
LoggedActivitiesDistance    61
VeryActiveDistance          61
ModeratelyActiveDistance    61
LightActiveDistance         61
SedentaryActiveDistance     61
VeryActiveMinutes           61
FairlyActiveMinutes         61
LightlyActiveMinutes        61
SedentaryMinutes            61
Calories                    61
dtype: int64

In [142]:
#10 . who is the thired most active person in this dataset find out those in pandas and in sql both

In [143]:
data.groupby('Id')['VeryActiveMinutes'].sum().sort_values(ascending=False)[2:3]

Id
8877689391    802
Name: VeryActiveMinutes, dtype: int64

In [148]:
#using sql query

#select id, sum(VeryActiveMinutes) from fitbit_table group by Id ORDER BY sum(VeryActiveMinutes) DESC LIMIT 1 OFFSET 2;

In [149]:
#11 . who is the 5th most laziest person avilable in dataset find it out

In [153]:
data.groupby('Id')['SedentaryMinutes'].sum().sort_values()[4:5]

Id
6962181067    8488
Name: SedentaryMinutes, dtype: int64

In [154]:
#12 . what is a totla acumulative calories burn for a person find out

In [155]:
data.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64